# ИГНОРИРОВАТЬ ВСЁ
*

# НО разрешить .cpp файлы (включая подпапки)
!*.cpp
!**/*.cpp

# И разрешить .txt файлы (включая подпапки)  
!*.txt
!**/*.txt

# И разрешить сам .gitignore
!.gitignore

# Дополнительно можно разрешить .h файлы если нужны
# !*.h
# !**/*.h